//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #37b1d7;
$secondary: #82868b;
$danger: #d44041;
$theme-dark-label-color: #d0d2d6 !default;
// $body-bg: #fffaeb;
$white: #fff;
$yellow: #fec31d;
$dark-red: #97253d;
